* {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.form-wrapper__image {
  width: 100%;
  min-height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}
.form-wrapper__half {
  width: 100%;
  min-height: 100vh;
}
.form-wrapper__half:first-child {
  display: none;
}
.form-wrapper__half:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  position: relative;
}
.form-wrapper__title {
  font-size: 3.2rem;
  font-weight: 400;
  margin: 0;
  margin-top: auto;
  padding-top: 3rem;
}
.form-wrapper__description {
  font-size: 1.8rem;
  color: #848484;
  font-weight: 300;
  margin: 0;
  text-align: center;
  max-width: 550px;
  padding: 0 3rem;
}
.form-wrapper__form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  max-width: 550px;
  padding: 0 3rem 3rem 3rem;
}
.form-wrapper__input-group {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 2px solid #EEE;
  border-radius: 10px;
  overflow: hidden;
}
.form-wrapper__input-icon {
  width: 60px;
  height: 100%;
  background-color: #FAF9F9;
  text-align: center;
  border-right: 2px solid #EEE;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-wrapper__input {
  width: 100%;
  padding: 2rem;
  border: none;
  outline: none;
  font-size: 1.6rem;
}
.form-wrapper__label {
  width: 100%;
  padding: 2rem;
  border: none;
  outline: none;
  font-size: 1.6rem;
  color: gray;
}
.form-wrapper__submit-button {
  background-color: #1A8FFF;
  color: #fff;
  padding: 1.5rem 0;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 2rem;
  width: 230px;
  text-transform: uppercase;
  cursor: pointer;
}
.form-wrapper__cancel-button {
  background-color: #848484;
  color: #fff;
  padding: 1.5rem 0;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 2rem;
  width: 230px;
  text-transform: uppercase;
  cursor: pointer;
}
.form-wrapper__spacer {
  width: 100%;
  height: 2px;
  background-color: #EEE;
  position: relative;
}
.form-wrapper__spacer::after {
  content: "lub";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 1rem;
  color: #848484;
  font-size: 1.4rem;
}
.form-wrapper__google-login {
  background-color: #DB4437;
  color: #fff;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  font-size: 1.6rem;
  gap: 1rem;
  width: 270px;
}
.form-wrapper__google-icon {
  background-color: #CA3326;
  padding: 1.5rem;
}
.form-wrapper__login-link {
  font-size: 1.6rem;
  color: #848484;
}
.form-wrapper__login-link a {
  font-size: 1.6rem;
  color: #1A8FFF;
  text-decoration: none;
  position: relative;
}
.form-wrapper__login-link a::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: #1A8FFF;
}
.form-wrapper__forgot-password {
  color: #848484;
  font-size: 1.6rem;
  margin-right: 0;
  margin-left: auto;
  text-decoration: none;
}
.form-wrapper__two-inputs {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form-wrapper__remember-me {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.form-wrapper__remember-me span {
  font-size: 1.6rem;
  color: #848484;
}
.form-wrapper__remember-me input {
  width: 17px;
  height: 17px;
  border: none;
}
.form-wrapper__info {
  font-size: 1.6rem;
  color: #848484;
}
.form-wrapper__forgot-link {
  text-decoration: none;
  color: #848484;
  font-size: 1.6rem;
}
.form-wrapper__verify-wrapper {
  width: 100%;
  max-width: 550px;
  margin: 1rem auto 0 auto;
  display: flex;
  padding: 0 2rem;
  justify-content: space-between;
  align-items: flex-end;
}

.auth-footer {
  margin-top: auto;
  background-color: #E8E7E7;
  width: 100%;
  padding: 2rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.auth-footer__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.auth-footer__link {
  text-decoration: none;
}
.auth-footer__credits {
  font-size: 1.6rem;
  color: #737373;
}
.auth-footer__credit-link {
  font-size: 1.6rem;
  color: #1A8FFF;
  text-decoration: none;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  box-shadow: 0 0 4px #ccc;
  height: 100px;
}
.nav__user-info {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}
.nav__user-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
}
.nav__user-email {
  color: #737373;
  font-size: 1.6rem;
}
.nav__user-name {
  color: #1A8FFF;
  font-size: 1.4rem;
}
.nav__user-photo-wrapper {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  overflow: hidden;
}
.nav__user-photo {
  width: 100%;
}
.nav__arrow-icon {
  margin-top: 2px;
  width: 18px;
}
.nav__hamburger {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__hamburger svg {
  width: 40px;
}

.dashboard-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}

.main {
  width: 100%;
}

.main-content {
  padding: 1.5rem;
}
.main-content__title {
  font-size: 3.6rem;
  font-weight: 400;
  margin-top: 2rem;
}
.main-content__name {
  font-size: 3.6rem;
  font-weight: bold;
  font-weight: 700;
}
.main-content__section {
  margin-top: 3rem;
}
.main-content__section-name {
  font-size: 2rem;
  font-weight: 400;
  position: relative;
}
.main-content__section-name::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #E6E6E6;
  position: absolute;
  top: calc(100% + 1rem);
  left: 0;
}
.main-content__latest-wrapper {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}
.main-content__latest-note {
  width: 80%;
  max-width: 280px;
  padding: 2rem;
  border: 1px solid #E6E6E6;
  border-radius: 1rem;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-content__latest-note:hover {
  box-shadow: 0 0 4px #ccc;
}
.main-content__latest-note-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}
.main-content__latest-note-title {
  font-size: 1.8rem;
  font-weight: 400;
}
.main-content__latest-note-content {
  font-size: 1.4rem;
  color: #848484;
}

.sidebar {
  position: fixed;
  left: -100%;
  top: 0;
  background-color: #F9F8F8;
  width: 300px;
  height: 100vh;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 2rem;
  gap: 2rem;
  transition: 0.4s ease-in-out;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}
.sidebar--active {
  left: 0;
}
.sidebar__close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 3;
}
.sidebar__logo-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100px;
}
.sidebar__logo-wrapper::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 80%;
  background-color: #848484;
  opacity: 0.4;
}
.sidebar__logo {
  max-height: 80px;
}
.sidebar__top {
  position: relative;
  width: 100%;
}
.sidebar__top::after {
  content: "";
  position: absolute;
  top: calc(100% + 2rem);
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 80%;
  background-color: #848484;
  opacity: 0.4;
}
.sidebar__menu {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 1.5rem;
}
.sidebar__menu-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  font-size: 1.6rem;
  color: #848484;
  gap: 0.7rem;
  width: 100%;
  padding: 0.5rem;
  min-height: 60px;
  border-radius: 1rem;
  transition: 0.2s ease-in-out;
}
.sidebar__menu-link:hover {
  background-color: #E8E7E7;
}
.sidebar__menu-item {
  width: 100%;
}
.sidebar__icon {
  width: 50px;
}
.sidebar__bottom {
  margin-top: 1.5rem;
  width: 100%;
}
.sidebar__footer {
  margin-bottom: 0;
  margin-top: auto;
  padding-bottom: 2rem;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.sidebar__footer-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  position: relative;
}
.sidebar__footer-info {
  color: #737373;
  font-size: 1.6rem;
  font-weight: 400;
}
.sidebar__footer-author {
  color: #1A8FFF;
  font-size: 1.6rem;
  font-weight: 400;
}

.note-view {
  padding: 1.5rem;
}

.notes {
  padding: 1.5rem;
  position: relative;
}
.notes__title {
  font-size: 3.6rem;
  font-weight: 400;
  margin-top: 2rem;
}
.notes__wrapper {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.notes__note {
  border: 1px solid #E6E6E6;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 350px;
  height: 250px;
  padding: 2rem;
  transition: 0.3s ease-in-out;
}
.notes__note:hover {
  box-shadow: 0 0 4px #ccc;
}
.notes__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}
.notes__name {
  font-size: 2.2rem;
  font-weight: 400;
}
.notes__content {
  font-size: 1.6rem;
  line-height: 1.3;
  color: #848484;
}
.notes__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.notes__date {
  color: #1A8FFF;
  font-size: 1.6rem;
  font-weight: 400;
}
.notes__actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}
.notes__edit, .notes__delete {
  text-decoration: none;
}
.notes__edit svg, .notes__delete svg {
  width: 30px;
  height: 30px;
}
.notes__delete {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.notes__add {
  position: fixed;
  bottom: 4rem;
  right: 4rem;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-color: #1A8FFF;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.notes__add-icon {
  width: 40px;
}
.notes__form {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2.5rem;
  width: 100%;
  max-width: 800px;
}
.notes__group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  max-width: 800px;
}
.notes__input, .notes__textarea {
  border: 2px solid #EEE;
  padding: 1.5rem;
  border-radius: 1rem;
  font-size: 1.6rem;
  width: 100%;
  outline-color: #1A8FFF;
}
.notes__label {
  font-size: 1.6rem;
  margin-bottom: 0.3rem;
}
.notes__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  align-self: flex-end;
}
.notes__submit-button {
  background-color: #1A8FFF;
  color: #fff;
  padding: 1.5rem 0;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 1.6rem;
  width: 230px;
  text-transform: uppercase;
  cursor: pointer;
}
.notes__cancel-button {
  background-color: #848484;
  color: #fff;
  padding: 1.5rem 0;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 1.6rem;
  width: 230px;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.passwords {
  padding: 1.5rem;
  max-width: 1200px;
}
.passwords__title {
  font-size: 3.6rem;
  font-weight: 400;
}
.passwords__top-bar {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.passwords__filters {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.passwords__filter {
  font-size: 1.6rem;
  padding: 1rem;
  border: none;
  outline: none;
  border: 1px solid #E6E6E6;
  border-radius: 0.5rem;
}
.passwords__option {
  font-size: 1.6rem;
}
.passwords__table-wrapper {
  margin-top: 2rem;
  width: 100%;
  overflow-x: auto;
}
.passwords__table {
  width: 1120px;
  border: 1px solid #ccc;
  border-radius: 1rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  overflow: hidden;
  position: relative;
}
.passwords__table-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  border-bottom: 1px solid #ccc;
}
.passwords__table-row:first-child {
  position: sticky;
  top: 0;
}
.passwords__table-row:last-child {
  border-bottom: 0;
}
.passwords__table-cell {
  padding: 1rem;
  font-size: 1.6rem;
  font-weight: 300;
  text-align: left;
  border-radius: 1rem;
  flex-basis: 150px;
  color: #737373;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.passwords__table-cell--last {
  text-align: center;
}
.passwords__table-cell--icon {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  width: 150px;
  height: 100%;
}
.passwords__table-cell--password {
  position: relative;
}
.passwords__icon {
  max-width: 20px;
}
.passwords__link {
  text-decoration: none;
  font-size: 1.6rem;
  color: #737373;
}
.passwords__table-row:first-child {
  background-color: #E8E7E7;
  color: #737373;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}
.passwords__actions {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}
.passwords__delete {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
.passwords__password {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1.6rem;
  max-width: 98px;
  color: #737373;
}
.passwords__see {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  cursor: pointer;
}

.calendar {
  padding: 1.5rem;
  max-width: 1400px;
}
.calendar__title {
  font-size: 3.6rem;
  font-weight: 400;
  margin-top: 2rem;
}
.calendar__wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;
}
.calendar__item {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}
.calendar__item:hover {
  box-shadow: 0 0 4px #ccc;
}
.calendar__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #E6E6E6;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  width: 100%;
}
.calendar__date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1A8FFF;
  height: 100%;
  border-top-right-radius: 1rem;
}
.calendar__name {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  font-size: 1.8rem;
  font-weight: normal;
}
.calendar__date {
  color: #fff;
  padding: 1.5rem;
}
.calendar__day {
  font-size: 2.4rem;
}
.calendar__hour {
  font-size: 2rem;
}
.calendar__tags {
  border-left: 1px solid #E6E6E6;
  border-right: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
  width: 100%;
  padding: 1.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
.calendar__tag-heading {
  font-size: 1.6rem;
}
.calendar__tags-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.5rem;
  list-style: none;
  gap: 0.5rem;
}
.calendar__tag {
  background-color: #1A8FFF;
  color: #fff;
  text-decoration: none;
  font-size: 1.4rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
}
.calendar__form {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 2rem;
}
.calendar__form-group {
  border: 1px solid #E6E6E6;
  padding: 2rem;
  border-radius: 1rem;
  width: 100%;
}
.calendar__form-group-heading {
  font-size: 2rem;
  font-weight: normal;
  margin-bottom: 2rem;
}
.calendar__form-inputs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}
.calendar__input-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
}
.calendar__label {
  font-size: 1.6rem;
}
.calendar__input {
  font-size: 1.6rem;
  border: 2px solid #E6E6E6;
  padding: 1.5rem;
  border-radius: 1rem;
  width: 300px;
  height: 55px;
  background-color: #fff;
}
.calendar__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  align-self: flex-end;
}
.calendar__submit-button {
  background-color: #1A8FFF;
  color: #fff;
  padding: 1.5rem 0;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 1.6rem;
  width: 230px;
  text-transform: uppercase;
  cursor: pointer;
}
.calendar__cancel-button {
  background-color: #848484;
  color: #fff;
  padding: 1.5rem 0;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 1.6rem;
  width: 230px;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}
.calendar__add {
  position: fixed;
  bottom: 4rem;
  right: 4rem;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-color: #1A8FFF;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calendar__add-icon {
  width: 40px;
}
.calendar__search {
  width: 100%;
  position: relative;
}
.calendar__search-input {
  width: 100%;
  border-radius: 1rem;
  border: 2px solid #E6E6E6;
  padding: 1.5rem;
  font-size: 1.6rem;
  padding-right: 9rem;
}
.calendar__search-button {
  position: absolute;
  top: 50%;
  right: 1.5rem;
  transform: translateY(-50%);
  background-color: #1A8FFF;
  color: #fff;
  border: none;
  outline: none;
  font-size: 1.6rem;
  padding: 1rem;
  border-radius: 1rem;
  cursor: pointer;
}

@media (min-width: 1024px) {
  .form-wrapper {
    justify-content: space-between;
  }
  .form-wrapper__half {
    max-width: 50vw;
  }
  .form-wrapper__half:first-child {
    display: block;
  }
  .dashboard-wrapper {
    align-items: flex-start;
  }
  .nav {
    justify-content: flex-end;
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .nav__hamburger {
    display: none;
  }
  .sidebar {
    position: relative;
    left: 0;
  }
  .sidebar__close {
    display: none;
  }
  .main {
    width: calc(100% - 300px);
  }
  .main-content,
  .notes,
  .note-view,
  .passwords,
  .calendar {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
