* {
    font-family: 'Roboto',
        sans-serif;
    font-size: 10px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$blue: #1A8FFF;
$red: #DB4437;
$darkRed: #CA3326;
$gray: #848484;
$lightGray: #FAF9F9;
$classicBorderRadius: 10px;


// Authentication blades starts

.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;


    &__image {
        width: 100%;
        min-height: 100vh;
        object-fit: cover;
    }

    &__half {
        width: 100%;
        min-height: 100vh;
    }

    &__half:first-child {
        display: none;
    }

    &__half:last-child {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1.5rem;
        position: relative;
    }

    &__title {
        font-size: 3.2rem;
        font-weight: 400;
        margin: 0;
        margin-top: auto;
        padding-top: 3rem;
    }

    &__description {
        font-size: 1.8rem;
        color: $gray;
        font-weight: 300;
        margin: 0;
        text-align: center;
        max-width: 550px;
        padding: 0 3rem;
    }

    &__form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
        width: 100%;
        max-width: 550px;
        padding: 0 3rem 3rem 3rem;
    }

    &__input-group {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border: 2px solid #EEE;
        border-radius: $classicBorderRadius;
        overflow: hidden;
    }

    &__input-icon {
        width: 60px;
        height: 100%;
        background-color: $lightGray;
        text-align: center;
        border-right: 2px solid #EEE;
        // height: 100%;
        padding: .5rem;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    &__input {
        width: 100%;
        padding: 2rem;
        border: none;
        outline: none;
        font-size: 1.6rem;
    }

    &__submit-button {
        background-color: $blue;
        color: #fff;
        padding: 1.5rem 0;
        border-radius: $classicBorderRadius;
        border: none;
        outline: none;
        font-size: 2rem;
        width: 230px;
        text-transform: uppercase;
        cursor: pointer;
    }

    &__cancel-button {
        background-color: $gray;
        color: #fff;
        padding: 1.5rem 0;
        border-radius: $classicBorderRadius;
        border: none;
        outline: none;
        font-size: 2rem;
        width: 230px;
        text-transform: uppercase;
        cursor: pointer;
    }

    &__spacer {
        width: 100%;
        height: 2px;
        background-color: #EEE;
        position: relative;

        &::after {
            content: "lub";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #fff;
            padding: 1rem;
            color: $gray;
            font-size: 1.4rem;
        }
    }

    &__google-login {
        background-color: $red;
        color: #fff;
        border: none;
        outline: none;
        display: flex;
        align-items: center;
        width: 100%;
        border-radius: $classicBorderRadius;
        overflow: hidden;
        font-size: 1.6rem;
        gap: 1rem;
        width: 270px;
    }

    &__google-icon {
        background-color: $darkRed;
        padding: 1.5rem;
    }

    &__login-link {
        font-size: 1.6rem;
        color: $gray;


        a {
            font-size: 1.6rem;
            color: $blue;
            text-decoration: none;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                top: 100%;
                left: 0;
                height: 1px;
                width: 100%;
                background-color: $blue;

            }
        }
    }

    &__forgot-password {
        color: $gray;
        font-size: 1.6rem;
        margin-right: 0;
        margin-left: auto;
        text-decoration: none;
    }

    &__two-inputs {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__remember-me {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .5rem;

        span {
            font-size: 1.6rem;
            color: $gray;
        }

        input {
            width: 17px;
            height: 17px;
            border: none;
        }
    }

    &__info {
        font-size: 1.6rem;
        color: $gray;
    }

    &__forgot-link {
        text-decoration: none;
        color: $gray;
        font-size: 1.6rem;
    }

    &__verify-wrapper {
        width: 100%;
        max-width: 550px;
        margin: 1rem auto 0 auto;
        display: flex;
        padding: 0 2rem;
        justify-content: space-between;
        align-items: flex-end;
    }
}

.auth-footer {
    margin-top: auto;
    background-color: #E8E7E7;
    width: 100%;
    padding: 2rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__icons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    &__link {
        text-decoration: none;
    }

    &__credits {
        font-size: 1.6rem;
        color: #737373;
    }

    &__credit-link {
        font-size: 1.6rem;
        color: $blue;
        text-decoration: none;
    }
}


// Authentication blades ends


// navigation starts

.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    box-shadow: 0 0 4px #ccc;
    height: 100px;

    &__user-info {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 1rem;
    }

    &__user-login {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: .5rem;
    }

    &__user-email {
        color: #737373;
        font-size: 1.6rem;
    }

    &__user-name {
        color: $blue;
        font-size: 1.4rem;
    }


    &__user-photo-wrapper {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        overflow: hidden;
    }

    &__user-photo {
        width: 100%;
    }

    &__arrow-icon {
        margin-top: 2px;
        width: 18px;
    }

    &__hamburger {
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
            width: 40px;
        }
    }
}

// navigation ends


// Dashboard starts

.dashboard-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

.main {
    width: 100%;
}

.main-content {
    padding: 1.5rem;

    &__title {
        font-size: 3.6rem;
        font-weight: 400;
        margin-top: 2rem;
    }

    &__name {
        font-size: 3.6rem;
        font-weight: bold;
        font-weight: 700;
    }

    &__section {
        margin-top: 3rem;
    }

    &__section-name {
        font-size: 2rem;
        font-weight: 400;
        position: relative;

        &::after {
            content: "";
            width: 100%;
            height: 1px;
            background-color: #E6E6E6;
            position: absolute;
            top: calc(100% + 1rem);
            left: 0;
        }
    }

    &__latest-wrapper {
        margin-top: 3rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        gap: 2rem;
    }

    &__latest-note {
        width: 80%;
        max-width: 280px;
        padding: 2rem;
        border: 1px solid #E6E6E6;
        border-radius: 1rem;
        height: 120px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__latest-note-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 1rem;
    }

    &__latest-note-title {
        font-size: 1.8rem;
        font-weight: 400;
    }

    &__latest-note-content {
        font-size: 1.4rem;
        color: $gray;
    }

}



.sidebar {
    position: fixed;
    left: -100%;
    top: 0;
    background-color: #F9F8F8;
    width: 300px;
    height: 100vh;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 2rem;
    gap: 2rem;
    transition: 0.4s ease-in-out;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);


    &--active {
        left: 0;
    }

    &__close {
        position: absolute;
        top: 1rem;
        right: 1rem;
        z-index: 3;
    }

    &__logo-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 100px;

        &::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            height: 2px;
            width: 80%;
            background-color: #848484;
            opacity: 0.4;
        }
    }

    &__logo {
        max-height: 80px;
    }

    &__top {
        position: relative;
        width: 100%;

        &::after {
            content: "";
            position: absolute;
            top: calc(100% + 2rem);
            left: 50%;
            transform: translateX(-50%);
            height: 2px;
            width: 80%;
            background-color: #848484;
            opacity: 0.4;
        }
    }

    &__menu {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        gap: 1.5rem;
    }

    &__menu-link {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-decoration: none;
        font-size: 1.6rem;
        color: #848484;
        gap: 0.7rem;
    }

    &__icon {
        width: 50px;
    }

    &__bottom {
        margin-top: 1.5rem;
    }
}



// Dashboard ends


// Media queries starts

@media (min-width: 1024px) {
    .form-wrapper {
        justify-content: space-between;

        &__half {
            max-width: 50vw;
        }

        &__half:first-child {
            display: block;
        }
    }

    .dashboard-wrapper {
        align-items: flex-start;
    }

    .nav {
        justify-content: flex-end;
        padding-left: 4rem;
        padding-right: 4rem;

        &__hamburger {
            display: none;
        }
    }

    .sidebar {
        position: relative;
        left: 0;


        &__close {
            display: none;
        }
    }

    .main {
        width: calc(100% - 300px);
    }

    .main-content {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

// Media queries ends
