* {
    font-family: 'Poppins',
        sans-serif;
    font-size: 10px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$blue: #1A8FFF;
$red: #DB4437;
$darkRed: #CA3326;
$gray: #848484;
$lightGray: #FAF9F9;
$classicBorderRadius: 10px;


// TinyMCE starts

.tox.tox-tinymce {
    width: 100%;
    min-height: 300px;
}

// TinyMCE ends

// Authentication blades starts

.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;


    &__image {
        width: 100%;
        min-height: 100vh;
        object-fit: cover;
    }

    &__half {
        width: 100%;
        min-height: 100vh;
    }

    &__half:first-child {
        display: none;
    }

    &__half:last-child {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1.5rem;
        position: relative;
    }

    &__title {
        font-size: 3.2rem;
        font-weight: 400;
        margin: 0;
        margin-top: auto;
        padding-top: 3rem;
    }

    &__description {
        font-size: 1.8rem;
        color: $gray;
        font-weight: 300;
        margin: 0;
        text-align: center;
        max-width: 550px;
        padding: 0 3rem;
    }

    &__form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
        width: 100%;
        max-width: 550px;
        padding: 0 3rem 3rem 3rem;
    }

    &__input-group {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border: 2px solid #EEE;
        border-radius: $classicBorderRadius;
        overflow: hidden;
    }

    &__input-icon {
        width: 60px;
        height: 100%;
        background-color: $lightGray;
        text-align: center;
        border-right: 2px solid #EEE;
        padding: .5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__input {
        width: 100%;
        padding: 2rem;
        border: none;
        outline: none;
        font-size: 1.6rem;
    }

    &__label {
        width: 100%;
        padding: 2rem;
        border: none;
        outline: none;
        font-size: 1.6rem;
        color: gray;
    }

    &__submit-button {
        background-color: $blue;
        color: #fff;
        padding: 1.5rem 0;
        border-radius: $classicBorderRadius;
        border: none;
        outline: none;
        font-size: 2rem;
        width: 230px;
        text-transform: uppercase;
        cursor: pointer;
    }

    &__cancel-button {
        background-color: $gray;
        color: #fff;
        padding: 1.5rem 0;
        border-radius: $classicBorderRadius;
        border: none;
        outline: none;
        font-size: 2rem;
        width: 230px;
        text-transform: uppercase;
        cursor: pointer;
    }

    &__spacer {
        width: 100%;
        height: 2px;
        background-color: #EEE;
        position: relative;

        &::after {
            content: "lub";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #fff;
            padding: 1rem;
            color: $gray;
            font-size: 1.4rem;
        }
    }

    &__google-login {
        background-color: $red;
        color: #fff;
        border: none;
        outline: none;
        display: flex;
        align-items: center;
        width: 100%;
        border-radius: $classicBorderRadius;
        overflow: hidden;
        font-size: 1.6rem;
        gap: 1rem;
        width: 270px;
    }

    &__google-icon {
        background-color: $darkRed;
        padding: 1.5rem;
    }

    &__login-link {
        font-size: 1.6rem;
        color: $gray;


        a {
            font-size: 1.6rem;
            color: $blue;
            text-decoration: none;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                top: 100%;
                left: 0;
                height: 1px;
                width: 100%;
                background-color: $blue;

            }
        }
    }

    &__forgot-password {
        color: $gray;
        font-size: 1.6rem;
        margin-right: 0;
        margin-left: auto;
        text-decoration: none;
    }

    &__two-inputs {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__remember-me {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .5rem;

        span {
            font-size: 1.6rem;
            color: $gray;
        }

        input {
            width: 17px;
            height: 17px;
            border: none;
        }
    }

    &__info {
        font-size: 1.6rem;
        color: $gray;
    }

    &__forgot-link {
        text-decoration: none;
        color: $gray;
        font-size: 1.6rem;
    }

    &__verify-wrapper {
        width: 100%;
        max-width: 550px;
        margin: 1rem auto 0 auto;
        display: flex;
        padding: 0 2rem;
        justify-content: space-between;
        align-items: flex-end;
    }
}

.auth-footer {
    margin-top: auto;
    background-color: #E8E7E7;
    width: 100%;
    padding: 2rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__icons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    &__link {
        text-decoration: none;
    }

    &__credits {
        font-size: 1.6rem;
        color: #737373;
    }

    &__credit-link {
        font-size: 1.6rem;
        color: $blue;
        text-decoration: none;
    }
}


// Authentication blades ends


// navigation starts

.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    box-shadow: 0 0 4px #ccc;
    height: 100px;

    &__user-info {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    &__user-login {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: .5rem;
    }

    &__user-email {
        color: #737373;
        font-size: 1.6rem;
    }

    &__user-name {
        color: $blue;
        font-size: 1.4rem;
    }


    &__user-photo-wrapper {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        overflow: hidden;
    }

    &__user-photo {
        width: 100%;
    }

    &__arrow-icon {
        margin-top: 2px;
        width: 18px;
    }

    &__hamburger {
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
            width: 40px;
        }
    }
}

// navigation ends


// Dashboard starts

.dashboard-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

.main {
    width: 100%;
}

.main-content {
    padding: 1.5rem;

    &__title {
        font-size: 3.6rem;
        font-weight: 400;
        margin-top: 2rem;
    }

    &__name {
        font-size: 3.6rem;
        font-weight: bold;
        font-weight: 700;
    }

    &__section {
        margin-top: 3rem;
    }

    &__section-name {
        font-size: 2rem;
        font-weight: 400;
        position: relative;

        &::after {
            content: "";
            width: 100%;
            height: 1px;
            background-color: #E6E6E6;
            position: absolute;
            top: calc(100% + 1rem);
            left: 0;
        }
    }

    &__latest-wrapper {
        margin-top: 3rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        gap: 2rem;
    }

    &__latest-note {
        width: 80%;
        max-width: 280px;
        padding: 2rem;
        border: 1px solid #E6E6E6;
        border-radius: 1rem;
        height: 120px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;
        position: relative;
        overflow: hidden;


        &:hover {
            box-shadow: 0 0 4px #ccc;
        }
    }

    &__latest-note-circle {
        width: 75px;
        height: 75px;
        border-radius: 100%;
        position: absolute;
        top: -35px;
        right: -35px;
    }

    &__latest-note-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 1rem;
    }

    &__latest-note-title {
        font-size: 1.8rem;
        font-weight: 400;
        color: #000;
    }

    &__latest-note-content {
        font-size: 1.4rem;
        color: $gray;

        & * {
            font-size: 1.4rem;
            color: $gray;
        }
    }

}



.sidebar {
    position: fixed;
    left: -100%;
    top: 0;
    background-color: #F9F8F8;
    width: 300px;
    height: 100vh;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 2rem;
    gap: 2rem;
    transition: 0.4s ease-in-out;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);

    &--active {
        left: 0;
    }

    &__close {
        position: absolute;
        top: 1rem;
        right: 1rem;
        z-index: 3;
    }

    &__logo-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 100px;

        &::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            height: 2px;
            width: 80%;
            background-color: #848484;
            opacity: 0.4;
        }
    }

    &__logo {
        max-height: 80px;
    }

    &__top {
        position: relative;
        width: 100%;

        &::after {
            content: "";
            position: absolute;
            top: calc(100% + 2rem);
            left: 50%;
            transform: translateX(-50%);
            height: 2px;
            width: 80%;
            background-color: #848484;
            opacity: 0.4;
        }
    }

    &__menu {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        gap: 1.5rem;
    }

    &__menu-link {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-decoration: none;
        font-size: 1.6rem;
        color: #848484;
        gap: 0.7rem;
        width: 100%;
        padding: .5rem;
        min-height: 60px;
        border-radius: 1rem;
        transition: .2s ease-in-out;

        &:hover {
            background-color: #E8E7E7;
        }
    }

    &__menu-item {
        width: 100%;
    }

    &__icon {
        width: 50px;
    }

    &__bottom {
        margin-top: 1.5rem;
        width: 100%;
    }

    &__footer {
        margin-bottom: 0;
        margin-top: auto;
        padding-bottom: 2rem;
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
    }

    &__footer-logos {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4rem;
        position: relative;
    }

    &__footer-info {
        color: #737373;
        font-size: 1.6rem;
        font-weight: 400;
    }

    &__footer-author {
        color: $blue;
        font-size: 1.6rem;
        font-weight: 400;
    }
}

.note-view {
    padding: 1.5rem;
}



// Dashboard ends


.notes {
    padding: 1.5rem;
    position: relative;
    max-width: 1200px;

    &__title {
        font-size: 3.6rem;
        font-weight: 600;
        margin-top: 2rem;
    }

    &__wrapper {
        margin-top: 2rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        gap: 2rem;
    }

    &__note,
    &__add-note {
        border: 1px solid #E6E6E6;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        max-width: 300px;
        height: 300px;
        padding: 1.5rem;
        transition: 0.3s ease-in-out;
        position: relative;
        overflow: hidden;

        &:hover {
            box-shadow: 0 0 4px #ccc;
        }
    }

    &__add-note {
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    &__add-note-text {
        color: $blue;
        font-size: 2rem;
        font-weight: 300;
    }

    &__circle {
        border: 2px dashed $blue;
        border-radius: 100%;
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 7rem;
        color: $blue;
    }

    &__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 1rem;
    }

    &__name {
        font-size: 2.2rem;
        font-weight: 600;
    }

    &__note-tags {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        list-style: none;
        gap: 1rem;
    }

    &__note-tag {
        color: #fff;
        padding: .35rem;
        background-color: $blue;
        border-radius: 50rem;
        min-width: 60px;
        text-align: center;
        font-size: 1.2rem;
    }

    &__content {
        font-size: 1.6rem;
        line-height: 1.3;
        color: #848484;
        // height: 150px;
    }

    &__search {
        width: 100%;
        position: relative;
    }

    &__search-input {
        width: 100%;
        border-radius: 1rem;
        border: 2px solid #E6E6E6;
        padding: 1.5rem;
        font-size: 1.6rem;
        padding-right: 9rem;
    }

    &__search-button {
        position: absolute;
        top: 50%;
        right: 1.5rem;
        transform: translateY(-50%);
        background-color: $blue;
        color: #fff;
        border: none;
        outline: none;
        font-size: 1.6rem;
        padding: 1rem;
        border-radius: 1rem;
        cursor: pointer;
    }


    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            width: 95%;
            height: 2px;
            background-color: #ccc;
            top: -1.5rem;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &__date {
        color: $blue;
        font-size: 1.6rem;
        font-weight: 400;
    }


    &__actions {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .4rem;
    }

    &__edit,
    &__delete {
        text-decoration: none;

        svg {
            width: 30px;
            height: 30px;
        }

    }

    &__delete {
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
    }

    &__add {
        position: fixed;
        bottom: 4rem;
        right: 4rem;
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        background-color: $blue;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__add-icon {
        width: 40px;
    }

    &__form {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 2.5rem;
        width: 100%;
        max-width: 800px;
    }

    &__input-group {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 0.5rem;
        margin-bottom: 2rem;
    }

    &__form-group {
        border: 1px solid #E6E6E6;
        padding: 2rem;
        border-radius: 1rem;
        width: 100%;
    }

    &__form-group-heading {
        font-size: 2rem;
        font-weight: normal;
        margin-bottom: 2rem;
    }

    &__form-inputs {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        flex-wrap: wrap;
        width: 100%;

        & .notes__input-group {
            flex-grow: 1;
        }
    }


    &__input,
    &__textarea {
        border: 2px solid #EEE;
        padding: 1.5rem;
        border-radius: 1rem;
        font-size: 1.6rem;
        width: 100%;
        outline-color: $blue;
        height: 50px;
        background-color: transparent;
    }

    &__textarea {
        min-height: 250px;
        height: fit-content;
    }

    &__label {
        font-size: 1.6rem;
        margin-bottom: .3rem;
    }

    &__buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        align-self: flex-end;
        flex-wrap: wrap;
    }

    &__submit-button {
        background-color: $blue;
        color: #fff;
        padding: 1.5rem 0;
        border-radius: $classicBorderRadius;
        border: none;
        outline: none;
        font-size: 1.6rem;
        width: 230px;
        text-transform: uppercase;
        cursor: pointer;
    }

    &__cancel-button {
        background-color: $gray;
        color: #fff;
        padding: 1.5rem 0;
        border-radius: $classicBorderRadius;
        border: none;
        outline: none;
        font-size: 1.6rem;
        width: 230px;
        text-transform: uppercase;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
    }
}

.passwords {
    padding: 1.5rem;
    max-width: 1200px;

    &__title {
        font-size: 3.6rem;
        font-weight: 600;
    }

    &__top-bar {
        margin-top: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 2rem;
    }

    &__filters {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem;
    }

    &__filter {
        font-size: 1.6rem;
        padding: 1rem;
        border: none;
        outline: none;
        border: 1px solid #E6E6E6;
        border-radius: .5rem;
    }

    &__option {
        font-size: 1.6rem;
    }

    &__table-wrapper {
        margin-top: 2rem;
        width: 100%;
        overflow-x: auto;
        // max-height: 600px;
        // overflow-y: scroll;
    }

    &__table {
        width: 1120px;
        border: 1px solid #ccc;
        border-radius: 1rem;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        overflow: hidden;
        position: relative;
    }

    &__table-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0;
        border-bottom: 1px solid #ccc;

        &:first-child {
            position: sticky;
            top: 0;
        }

        &:last-child {
            border-bottom: 0;
        }
    }

    &__table-cell {
        padding: 1rem;
        font-size: 1.6rem;
        font-weight: 300;
        text-align: left;
        border-radius: 1rem;
        flex-basis: 150px;
        color: #737373;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        &--last {
            text-align: center;
        }

        &--icon {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 0.5rem;
            width: 150px;
            height: 100%;
        }

        &--password {
            position: relative;
        }

    }

    &__icon {
        max-width: 20px;
    }

    &__link {
        text-decoration: none;
        font-size: 1.6rem;
        color: #737373;
    }

    &__table-row:first-child {
        background-color: #E8E7E7;
        color: #737373;
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
    }

    &__actions {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: .5rem;
    }

    &__delete {
        border: none;
        outline: none;
        background-color: transparent;
        cursor: pointer;
    }

    &__password {
        border: none;
        outline: none;
        background-color: transparent;
        font-size: 1.6rem;
        max-width: 98px;
        color: #737373;
    }

    &__see {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        cursor: pointer;
    }

}


// Calendar starts

.calendar {
    padding: 1.5rem;
    max-width: 1400px;

    &__title {
        font-size: 3.6rem;
        font-weight: 600;
        margin-top: 2rem;
    }

    &__wrapper {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        gap: 2rem;
        margin-top: 2rem;
    }

    &__item {
        width: 100%;
        max-width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 1rem;

        &:hover {
            box-shadow: 0 0 4px #ccc;
        }
    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid #E6E6E6;
        border-top-right-radius: 1rem;
        border-top-left-radius: 1rem;
        width: 100%;
    }

    &__date {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $blue;
        height: 100%;
        border-top-right-radius: 1rem;
    }

    &__name {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        font-size: 1.8rem;
        font-weight: normal;
    }

    &__date {
        color: #fff;
        padding: 1.5rem;
    }

    &__day {
        font-size: 2.4rem;
    }

    &__hour {
        font-size: 2rem;
    }

    &__tags {
        border-left: 1px solid #E6E6E6;
        border-right: 1px solid #E6E6E6;
        border-bottom: 1px solid #E6E6E6;
        width: 100%;
        padding: 1.5rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border-bottom-right-radius: 1rem;
        border-bottom-left-radius: 1rem;
    }

    &__tag-heading {
        font-size: 1.6rem;
    }

    &__tags-list {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0.5rem;
        list-style: none;
        gap: 0.5rem;
    }

    &__tag {
        background-color: $blue;
        color: #fff;
        text-decoration: none;
        font-size: 1.4rem;
        border-radius: .5rem;
        padding: 0.5rem;
    }

    &__form {
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        gap: 2rem;
    }

    &__form-group {
        border: 1px solid #E6E6E6;
        padding: 2rem;
        border-radius: 1rem;
        width: 100%;
    }

    &__form-group-heading {
        font-size: 2rem;
        font-weight: normal;
        margin-bottom: 2rem;
    }

    &__form-inputs {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 2rem;
        flex-wrap: wrap;
    }

    &__input-group {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 0.5rem;
    }

    &__label {
        font-size: 1.6rem;
    }

    &__input {
        font-size: 1.6rem;
        border: 2px solid #E6E6E6;
        padding: 1.5rem;
        border-radius: 1rem;
        width: 300px;
        height: 55px;
        background-color: #fff;
    }

    &__buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 2rem;
        align-self: flex-end;
    }

    &__submit-button {
        background-color: $blue;
        color: #fff;
        padding: 1.5rem 0;
        border-radius: $classicBorderRadius;
        border: none;
        outline: none;
        font-size: 1.6rem;
        width: 230px;
        text-transform: uppercase;
        cursor: pointer;
    }

    &__cancel-button {
        background-color: $gray;
        color: #fff;
        padding: 1.5rem 0;
        border-radius: $classicBorderRadius;
        border: none;
        outline: none;
        font-size: 1.6rem;
        width: 230px;
        text-transform: uppercase;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
    }

    &__add {
        position: fixed;
        bottom: 4rem;
        right: 4rem;
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        background-color: $blue;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__add-icon {
        width: 40px;
    }

    &__search {
        width: 100%;
        position: relative;
    }

    &__search-input {
        width: 100%;
        border-radius: 1rem;
        border: 2px solid #E6E6E6;
        padding: 1.5rem;
        font-size: 1.6rem;
        padding-right: 9rem;
    }

    &__search-button {
        position: absolute;
        top: 50%;
        right: 1.5rem;
        transform: translateY(-50%);
        background-color: $blue;
        color: #fff;
        border: none;
        outline: none;
        font-size: 1.6rem;
        padding: 1rem;
        border-radius: 1rem;
        cursor: pointer;
    }
}

// Calendar ends



// Media queries starts

@media (min-width: 1024px) {
    .form-wrapper {
        justify-content: space-between;

        &__half {
            max-width: 50vw;
        }

        &__half:first-child {
            display: block;
        }
    }

    .dashboard-wrapper {
        align-items: flex-start;
    }

    .nav {
        justify-content: flex-end;
        padding-left: 4rem;
        padding-right: 4rem;

        &__hamburger {
            display: none;
        }
    }

    .sidebar {
        position: sticky;
        left: 0;
        top: 0;


        &__close {
            display: none;
        }
    }

    .main {
        width: calc(100% - 300px);
    }

    .main-content,
    .notes,
    .note-view,
    .passwords,
    .calendar {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

// Media queries ends
